.btn-gold {
    background-color: #FFD700; 
    color: #000000; 
}

.btn-gold:hover {
    background-color: #FFC107; 
}

.btn-gold:focus {
    outline: 2px solid #FFC107; 
    outline-offset: 2px;
}

html {
    scroll-behavior: smooth;
}

.fixed-bottom-right {
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 5px;
    z-index: 1000;
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}

.fixed-bottom-right svg {
    margin-right: 5px;
}
